body {
  background-image: url("https://images.unsplash.com/photo-1451906278231-17b8ff0a8880");
  background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#welcomebox {
  /* default fallback */
  background: rgb(255, 255, 255) transparent;
  /* nice browsers */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
