body {
    background-image: url("http://kitestudioarchitecture.com/images/tile.gif");
    background-repeat: repeat;
    font-family: Georgia, Helvetica, sans-serif
    padding: 0;
    margin: 0 auto;
}

@font-face {
    font-family: 'VarianeScript';
    src: url("./varianescript.ttf");
}

nav {
    position: fixed;
    padding-top: 1em;
    padding-left: 1em;
}

nav > ul {
    list-style: none;
    z-index: 10;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    margin-bottom: 0.2em;
}


nav > ul > li > a {
    font-size: 1.5em;
    text-decoration: none;
}

nav > ul > li.green > a {
    color: #9ACD68;
    background-color: #ffffff;
}

nav > ul > li.green:hover > a {
    color: #ffffff;
    background-color: #9ACD68;
}
nav > ul > li.red > a {
    color: #FF6766;
    background-color: #ffffff;
}

nav > ul > li.red:hover > a {
    color: #ffffff;
    background-color: #FF6766;
}
nav > ul > li.blue > a {
    color: #67CCCD;
    background-color: #ffffff;
}

nav > ul > li.blue:hover > a {
    color: #ffffff;
    background-color: #67CCCD;
}
