@import url("https://fonts.googleapis.com/css?family=Vollkorn");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
	/* Gruvbox color theme */
	--base-title-color: #458588;
	--base-heading-color: #fb4934;
	--base-text-color: #282828;
	--base-link-color: #689d6a;
	--base-background-color: #fbf1c7;
	--base-font: 'Roboto', sans-serif;

}

body {
	font-family: var(--base-font);
	background: var(--base-background-color);
	color: var(--base-text-color);
    max-width: 980px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 100;
}

h1 {
	color: var(--base-heading-color);
	font-size: 1.5rem;
}

a {
	color: var(--base-link-color);
}
a:hover {
	filter: brightness(0.5);
}

.container {
	font-family: sans-serif;
	font-family: var(--base-font);
	display: grid;
	margin-top: 1rem;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
	text-align: center;
}

.heading {
	font-size: 2.5rem;
	margin: 0rem;
	font-weight: bold;
	color: var(--base-title-color);
}

.subheading {
	font-size: 1.8rem;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	color: var(--base-title-color);
}

.introtext {
	font-size: 1.0rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.content {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
}

.reads {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
}

.links {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 4;
	text-align: center;
}

.link-icon {
	color: var(--base-link-color)
}
.link-icon:hover {
	filter: brightness(0.5);
}

.fun {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 5;
	text-align: center;
	font-size: 0.6rem;
}

.footer {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 6;
	font-size: 0.8rem;
	line-height: 1.2rem;
	text-align: center;
}
