body {
	background-color: #ece5df;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
}

h1 {
	color: black;
}

h2 {
	font-size: large;
	color: #304251;
}

h3 {
	font-size: medium;
	color: #304251;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.5;
	margin-bottom: 1.25em;
	text-rendering: optimizeLegibility;
}

.row {
	margin: 0;
	padding; 0;
}

.border-top {
	border-top: 10px solid #0a161f;
}

.title {
	margin-top: 6em;
}

.menu  {
	margin-top: 4em;
}

.menu nav {
	padding: 0;
}

.menu nav ul {
	padding: 0;
}

.menu nav ul.inline-list-custom {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	text-transform: uppercase;
}

.menu nav ul.inline-list-custom li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: 300;
	font-style: normal;
	font-size: 0.9em;
	line-height: 2;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

.menu nav ul.inline-list-custom li a {
	color: gray;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.menu nav ul.inline-list-custom li a .current {
	color: #0a161f;
}

.menu nav ul.inline-list-custom li a:hover {
	color: #0a161f;
	text-decoration: none;
}

.main {
	margin-top: 3em;
}

.main img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.projects .projectbox {
}

.projects h1 {
	text-align: center;
	font-size: medium;
}

.projects .projectbox h2 {
	text-align: center;
	font-size: small;
	font-style: italic;
}

.footer {
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.footer .box {
	border-top: 1px solid lightgrey;
}

.footer div {
	padding: 0.8em;
}
