body {
	background-color: #ece5df;
}

h1 {
	color: black;
}

h2 {
	font-size: large;
	color: #304251;
}

h3 {
	font-size: medium;
	color: #304251;
}

.row {
	margin: 0;
	padding; 0;
}

.border-top {
	border-top: 4px solid #0a161f;
}

.title {
	margin-top: 6em;
}

.menu  {
	margin-top: 4em;
}

.menu nav ul {
	padding: 0;
}

.menu nav ul.inline-list-custom {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	text-transform: uppercase;
}

.menu nav ul.inline-list-custom li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

.main {
	margin-top: 3em;
}

.main img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
