body {
	background-color: #ece5df;
}

.border-top {
	border-top: 4px solid #0a161f;
}

nav ul {
	padding: 0;
}

nav ul.inline-list-custom {
	text-align: center;
	padding-top: 0.8em;
}

nav ul.inline-list-custom li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}
