
doctype html
html
  link(href='css/style.css', rel='stylesheet')
  head
    title Jade Page
  body
    div.container
      div.grid.header
        img(src= "me.jpg" width="160").image-circle
        p.heading Fabian Schwarz-Fritz
        p.subheading Software Developer
        p.introtext Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
      div.grid.content
        p TODO
