
doctype html
html
  link(href='css/style.css', rel='stylesheet')
  head
    title Jade Page
  body
    div.container
      div.grid.header
        p Hello, I am th eheader
      div.grid.sidebar
        p sidebar
      div.grid.content
        p content
      div.grid.extra
        p extra
      div.grid.footer
        p footer
