doctype html
html
  link(href='css/style.css', rel='stylesheet')
  head
    title Fabian Schwarz-Fritz
  body
    div.container
      div.header
        img(src= "me.jpg" width="160").image-circle
        p.heading Fabian Schwarz-Fritz
        p.subheading Software Developer
        p.introtext
          |Fabian specializes in developing cloud-native business applications.
          |Working at the largest software company in Europe, he advises teams which want to integrate their products to platforms like CloudFoundry and Kubernetes.

      div.content
        //- TODO Projects heading/section
        div.event
          h1 ReviewNinja
          p
            |"ReviewNinja is a light-weight code-review tool which fits neatly into the GitHub pull request workflow. It presents all the project information needed to commit a pull request and merge code confidently." [
            a(href="http://review.ninja/") ReviewNinja official
            |].
        div.event
          h1 CatchyTune
          p
            |CatchyTune is an online music player where artists can share their music and their fans listen to it. The project was created as part of a Software Engineering course at
            a(href="https://maps.google.de/maps?q=Duale+Hochschule+Baden-W%C3%BCrttemberg+Karlsruhe,+Erzbergerstra%C3%9Fe,+Karlsruhe&hl=de&ie=UTF8&sll=49.0256,8.382826&sspn=0.038552,0.104628&oq=Duale+&t=h&hq=Duale+Hochschule+Baden-W%C3%BCrttemberg+Karlsruhe,+Erzbergerstra%C3%9Fe,+Karlsruhe&z=15") Duale Hochschule Karlsruhe
            |.
        div.event
          h1 XP days 2017
          p
            |I went to the
            a(href="http://www.xpdays.de/2017/")  XP days 2017
            |  in Stuttgart. The content reached from practical teamwork by building a event hall with LEGO to
            a(href="http://www.xpdays.de/2017/sessions/170-scrum-erleben-wir-bauen-iterativ-ein-produkt-mit-lego-steinen.html")  practice agile methodologies
            |  over to theoretical lectures on
            a(href="http://www.xpdays.de/2017/sessions/132-agile-im-konzern-entwicklung-als-entwickler-anstossen.html")  how to push change as a developer in large organizations
            |  .
        div.event#validator
          h1 Object Calisthenics Validator
          p
            a(href="http://www.xpteam.com/")  Jeff Bay
            |  's "Object Calisthencs" are a short coding challenge described in
            a(href="https://pragprog.com/book/twa/thoughtworks-anthology") The ThoughtWorks Anthology
            | .
            | I have created an Eclipse plugin to validate if code created during the training, satisfies the rules. The tool adds hints and warnings to the respective code line.
            | As part of a
            a(href="https://github.com/fabianschwarzfritz/Object-Calisthenics-Analyzer-Documentation/blob/master/documents/report/_endversion/ValidatingTheObjectCalisthenics.pdf")  student research paper
            |  I have furthermore analyzed how such a validation for each rule could be implemented.
        //- Entwicklertag 2014
        //- MongoDB in CP
      div.footer
        p Copyright: Fabian Schwarz-Fritz. <br /> Photo credits: Nicole Eigenmann.
