doctype html
html
  link(href='css/style.css', rel='stylesheet')
  head
    title Fabian Schwarz-Fritz
  body
    div.container
      div.header
        img(src= "me.jpg" width="160").image-circle
        p.heading Fabian Schwarz-Fritz
        p.subheading Software Developer
        p.introtext
          |Fabian specializes in developing cloud-native business applications. 
          |Working at the largest software company in Europe, he advises teams which want to integrate their products to platforms like CloudFoundry and Kubernetes.
      
      div.content
        p.event Event a
        p.event Event b
        p.event Project C
        p.event Pull Request D
        p.event Pull Request E
        p.event Pull Request F
                
        //- Catchy Tune
        //- Object Calisthenics
        //- Entwicklertag 2014
        //- Review Ninja
        //- MongoDB in CP
        //- XP days 2017
      div.footer
        p Copyright: Fabian Schwarz-Fritz. <br /> Photocredit: Nicole Eigenmann.
