/* yellow: E2DA99
*  brown: 342800
*  darkblue: 5E9CA0
*  lightblue: 73AFB6
*  black: 2b2301;
*/
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
    font-family: 'PT Serif', serif;
}

#home {
    text-align: center;
    background: url(bg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    /*opacity: 0.4;*/
}

#home .opacity {
    background-color: #000;
    padding-bottom: 25px;
    margin: 0 auto;
    /*width: 70%;*/
    min-width: 800px;
}

#home h1 {
    color: #E2DA99;
    font-size: 150px;
}

#home p {
    color: #ddd;
    font-size: 20px;
}

#about {
    background-color: #E2DA99;
    text-align: center;
}

#projects {
    background-color: #73AFB6;
    text-align: center;
}

#bottom {
    background-color: #000;
    color: #ddd;
}

#bottom .iconlink {
    font-size: 50px;
}

#bottom p {
    bottom: 25px;
    position: absolute;
    right: 10px;
}

#profile-circular {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background-image: url('me2.jpg');
    background-size: cover;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    height: 200px;
    top: 50px;
    width: 200px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}

p {
    font-size: 16px;
}

a {
    color: inherit;
}

a:hover {
}

.centerbox {
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    min-width: 800px;
}

.smallcenterbox {
    padding-left: 30%;
    padding-right: 30%;
    width: 40%;
    min-width: 300px;
}

.cols3 {
    -moz-column-count: 2;
    -moz-column-gap: 20px;

    -webkit-column-count: 2;
    -webkit-column-gap: 20px;

    column-count: 2;
    column-gap: 20px;
}
