
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue";
}

nav {
  position: fixed;
  font-size: 1.0em;
  font-weight: 500;

  display: flex;
  flex-direction: column; 

  margin-top: 10%;
}

nav a {
  color: #797979;
  margin: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  color: #001FE8;
  transition: 0.2s;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 230px;
  padding-right: 30px;

  animation: fadeIn 0.5s;

  font-size: 16px;
  line-height: 1.35;
}

main * {
  max-width: 1200px;
}

main h1 {
  font-size: 3em;
}

main a {
  color: #001FE8;
  transition: 0.2s;
  text-decoration: none;
}
main a:hover {
  filter: brightness(50%);
  text-decoration: underline;
}

main.index a {
  color: #05cde3;
}
main.projects a {
  color: #9102ff;
}
main.resources a {
  color: #f04247;
}
main.cv a {
  color: #1fbd64;
}
